.body {
    margin:0 auto;
    padding:0;
    max-width:1366px;
  }
  @media screen and (max-width:800px) {
    .body {
    max-width:100%;
  }
  }.header {
    margin:0;
    padding:0;
    padding-left:62px;
    max-width:100%;
    background-image:url(../images/background.svg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  @media screen and (max-width:800px) {
    .header {
    padding:0;
    padding-left:20px;
    background-image:url(../images/mobil.svg);
    background-size:cover;
    background-position:center;
  }
  }.header__logo {
    margin:0;
    padding:0;
    margin:26px 0 62px 0;
    width:245px;
    height:36px;
    z-index:2;
  }
  @media screen and (max-width:800px) {
    .header__logo {
    margin:20px 0 40px 0;
    width:213px;
    height:32px;
    background-image:url(../images/mobil.svg);
    background-size:cover;
    background-position:center;
  }
  }.header__title {
    margin:0;
    padding:0;
    margin-bottom:24px;
    max-width:39.67%;
    color:rgb(49,49,49);
    font-family:Merriweather;
    font-size:60px;
    font-weight:400;
    line-height:110%;
    letter-spacing:0px;
    text-align:left;
    text-transform:uppercase;
  }
  @media screen and (max-width:500px) {
    .header__title {
    font-size:36px;
    max-width:94.5%;
  }
  }.header__title_type_center {
    text-align:center;
    max-width:542px;
  }
  @media screen and (max-width:500px) {
    .header__title_type_center {
    max-width:94.5%;
  }
  }.header__subtitle {
    margin:0;
    padding:0;
    max-width:542px;
    margin-bottom:40px;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:18px;
    font-weight:400;
    line-height:130%;
    letter-spacing:0px;
    text-align:center;
  }
  @media screen and (max-width:590px) {
    .header__subtitle {
    max-width:94.5%;
    margin-bottom:32px;
    text-align:left;
  }
  }.header__button-conteiner {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    gap:16px;
  }
  @media screen and (max-width:800px) {
    .header__button-conteiner {
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    gap:14px;
  }
  }.header__button {
    margin:0;
    padding:0;
    font-size:16px;
    font-weight:500;
    line-height:130%;
    letter-spacing:0px;
    text-align:center;
    margin-bottom:130px;
    width:263px;
    height:72px;
    padding:20px;
    border-radius:66px;
    border:2px solid rgb(31,31,31);
    background-color:none;
  }
  @media screen and (max-width:800px) {
    .header__button {
    margin-bottom:0;
    width:335px;
    height:47px;
    justify-content:center;
    align-items:center;
    padding:0 20px 0 20px;
    flex:none;
  }
  }.header__button_type_confirmation {
    background:rgb(31,31,31);
    color:rgb(255,255,255);
    transition:background 0.5s ease;
  }
  .header__button_type_confirmation:hover {
    cursor:pointer;
    background:rgb(251,206,81);
    color:rgb(31,31,31);
  }
  .header__button_type_detail {
    border:2px solid rgb(31,31,31);
    border-radius:66px;
    background:none;
    transition:background 0.5s ease;
  }
  @media screen and (max-width:800px) {
    .header__button_type_detail {
    margin-bottom:291px;
    background:rgb(255,255,255);
    opacity:0.9;
  }
  }.header__button_type_detail:hover {
    cursor:pointer;
    background:rgb(31,31,31);
    color:rgb(255,255,255);
  }
  .header__link {
    margin:0;
    padding:0;
    border:none;
    outline:none;
    text-decoration:none;
    font-size:inherit;
    font-weight:inherit;
    line-height:inherit;
    letter-spacing:normal;
    text-align:inherit;
    color:inherit;
    background-color:transparent;
  }
  .content {
    margin:0;
    padding:0;
    width:100%;
    max-width:1366px;
  }
  @media screen and (max-width:800px) {
    .content {
    max-width:100%;
  }
  }.promo-conteiner {
    display:flex;
    overflow:hidden;
  }
  .promo {
    margin:0;
    padding:0;
    width:2335px;
    list-style-type:none;
    display:flex;
    padding:18px 12px;
    background:rgb(245,73,50);
    animation:animate 20s linear infinite;
  }
  @media screen and (max-width:800px) {
    .promo {
    height:18px;
    padding:10px;
  }
  }#carousel2 {
    animation-delay:0ms;
  }
  .promo__item {
    margin-left:12px;
    margin-right:9px;
    white-space:nowrap;
    color:rgb(255,255,255);
    font-family:Merriweather;
    font-size:22px;
    font-weight:400;
    line-height:110%;
    letter-spacing:0px;
    text-align:right;
    text-transform:uppercase;
  }
  @media screen and (max-width:800px) {
    .promo__item {
    font-size:16px;
  }
  }.promo__item::marker {
    content:"\2022";
    color:rgb(255,255,255);
    width:6px;
    height:6px;
    padding-right:9px;
  }
  @keyframes animate {
    0% {
    transform:translateX(0);
  }
  100% {
    transform:translateX(-100%);
  }
  }.lecture {
    margin:80px 72px 44px 72px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  @media screen and (max-width:800px) {
    .lecture {
    margin:48px 20px 21px 20px;
    flex-direction:column;
  }
  }.lecture-text-conteiner {
    margin:0;
    padding:0;
    margin-right:72px;
    max-width:764px;
  }
  @media screen and (max-width:800px) {
    .lecture-text-conteiner {
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
  }
  }.lecture__title {
    margin:0;
    padding:0;
    font-family:Merriweather;
    font-size:36px;
    font-weight:700;
    line-height:135%;
    letter-spacing:0px;
    text-align:left;
    text-transform:uppercase;
    color:rgb(49,49,49);
  }
  @media screen and (max-width:800px) {
    .lecture__title {
    margin:0;
    max-width:94.5%;
    font-size:28px;
  }
  }.lecture__title-name {
    color:rgb(245,73,50);
  }
  .lecture__image {
    max-width:807px;
    object-fit:cover;
    object-position:center;
  }
  @media screen and (max-width:800px) {
    .lecture__image {
    display:none;
  }
  }.lecture__image_type_mobile {
    display:none;
  }
  @media screen and (max-width:800px) {
    .lecture__image_type_mobile {
    margin-top:24px;
    margin-bottom:24px;
    display:flex;
    max-width:94.5%;
  }
  }.playing {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    align-items:top;
    gap:17px;
  }
  /* закончил здесь */
  @media screen and (max-width:800px) {
    .playing {
    flex-direction:column;
    max-width:94.5%;
    gap:0;
  }
  }.playing__image {
    margin-left:45px;
    max-width:609px;
    object-fit:cover;
    object-position:center;
  }
  @media screen and (max-width:800px) {
    .playing__image {
    margin:0;
    margin-top:21px;
    margin-bottom:19px;
  }
  }.playing__information {
    margin:0;
    padding:0;
    margin-top:22px;
    max-width:704px;
  }
  @media screen and (max-width:800px) {
    .playing__information {
    margin:0;
    max-width:94.5%;
  }
  }.playing__title {
    margin:0;
    padding:0;
    font-family:Merriweather;
    font-size:36px;
    font-weight:400;
    line-height:135%;
    letter-spacing:0px;
    text-align:left;
    text-transform:uppercase;
    color:rgb(49,49,49);
  }
  @media screen and (max-width:800px) {
    .playing__title {
    margin-left:20px;
    margin-right:20px;
    font-size:28px;
    max-width:94.5%;
  }
  }.playing__title_type_important {
    color:rgb(245,73,50);
  }
  .playing__table {
    margin:0;
    padding:0;
    margin-top:60px;
    margin-bottom:48px;
    width:100%;
    border-collapse:collapse;
  }
  @media screen and (max-width:800px) {
    .playing__table {
    margin-top:44px;
    margin-bottom:40px;
    margin-left:20px;
    margin-right:20px;
    font-size:28px;
    max-width:94.5%;
  }
  }.playing__row {
    border-bottom:2px solid rgb(208,208,208);
    width:100%;
  }
  @media screen and (max-width:800px) {
    .playing__row {
    display:flex;
    flex-direction:column;
  }
  }.playing__row:last-child {
    border-bottom:0;
    margin:0;
    padding:0;
  }
  .playing__cell {
    margin:0;
    padding:0;
    border-right:2px solid rgb(208,208,208);
    padding-right:16px;
    padding-bottom:16px;
    padding-top:16px;
    width:43.46%;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:20px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  @media screen and (max-width:800px) {
    .playing__cell {
    margin:0;
    padding:0;
    display:table-row;
    border-right:none;
    width:95.5%;
  }
  }.playing__cell:last-child {
    border-right:0;
    padding-left:16px;
    padding-bottom:16px;
    padding-top:16px;
    width:56.53%;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:20px;
    font-weight:600;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  @media screen and (max-width:800px) {
    .playing__cell:last-child {
    margin:0;
    padding:0;
    padding-bottom:16px;
    width:95.5%;
  }
  }@media screen and (max-width:800px) {
    .playing__cell_type_name {
    margin-bottom:12px;
    margin-top:16px;
  }
  }.playing__cell_type_promo {
    text-decoration:line-through solid 2px rgb(245,73,50);
    display:inline;
  }
  .playing__questions {
    margin:0;
    padding:0;
    max-width:100%;
    color:rgb(48,87,162);
    font-family:Golos Text;
    font-size:20px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  @media screen and (max-width:800px) {
    .playing__questions {
    margin-left:20px;
    margin-right:20px;
    margin-bottom:120px;
    width:95.5%;
    font-size:18px;
  }
  }.transformation {
    margin-left:72px;
    margin-right:72px;
    max-width:100%;
  }
  /* проверить*/
  
  .transformation__list-wrapper {
    margin:0;
    padding:0;
    max-width:100%;
    overflow:hidden;
    position:relative;
  }
  @media screen and (max-width:650px) {
    .transformation {
    margin-left:20px;
    margin-right:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
  }
  }.transformation__text {
    margin-bottom:54px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
  }
  @media screen and (max-width:650px) {
    .transformation__text {
    margin-bottom:0;
  }
  }.transformation__title {
    margin:0;
    padding:0;
    margin-top:200px;
    max-width:806px;
    color:rgb(49,49,49);
    font-family:Merriweather;
    font-size:54px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
    text-transform:uppercase;
  }
  @media screen and (max-width:650px) {
    .transformation__title {
    font-size:36px;
    margin-bottom:12px;
    margin-top:120px;
    max-width:95.4%;
    line-height:110%;
  }
  }.transformation__subtitle {
    margin:0;
    padding:0;
    max-width:250px;
    display:inline-block;
    color:rgb(48,87,162);
    font-family:Golos Text;
    font-size:20px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
    text-transform:none;
  }
  @media screen and (max-width:650px) {
    .transformation__subtitle {
    font-size:18px;
    margin-bottom:6px;
    max-width:95.4%;
  }
  }.transformation__stages {
    margin:0;
    padding:0;
    margin-bottom:200px;
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap:20px;
  }
  .transformation__stages_type_mobile {
    display:none;
  }
  @media screen and (max-width:1100px) {
    .transformation__stages_type_desktop {
    grid-template-columns:repeat(2,1fr);
    grid-template-rows:repeat(2,1fr);
    align-self:center;
    justify-content:center;
  }
  }@media screen and (max-width:650px) {
    .transformation__stages_type_desktop {
    display:none;
  }
  }@media screen and (max-width:650px) {
    .transformation__stages_type_mobile {
    display:flex;
    flex-direction:row;
    width:100%;
    margin-bottom:30px;
  }
  }.transformation__stages-conteiner-mobile {
    margin:0;
    padding:0;
    padding-top:54px;
    background-image:url(../images/fon.png);
    min-width:95.4%;
    max-width:95.4%;
    object-fit:cover;
    object-position:center;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
  }
  .transformation__stages-conteiner {
    grid-area:auto;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:16px;
    background-image:url(../images/fon.png);
    object-fit:cover;
    object-position:center;
  }
  @media screen and (max-width:650px) {
    .transformation__stages-conteiner {
    width:100%;
    background-image:none;
  }
  }@media screen and (max-width:650px) {
    .transformation__stages-conteiner {
    width:100%;
    background-image:none;
  }
  }.transformation__stages-conteiner:nth-child(3) {
    grid-row:span 2;
    /* Третий элемент будет занимать две строки */
  }
  .transformation__stages-conteiner:nth-child(7) {
    grid-column:span 2;
    /* Седьмой элемент будет занимать два столбца */
  }
  .transformation__item {
    margin:0;
    padding:0;
    padding-left:12px;
    padding-right:12px;
    max-width:36px;
    height:36px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    background:rgb(255,255,255);
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:20px;
    font-weight:600;
    line-height:120%;
    letter-spacing:0px;
    margin-left:20px;
    margin-top:20px;
  }
  @media screen and (max-width:650px) {
    .transformation__item {
    margin-top:0;
  }
  }.transformation__item-number {
    margin:0;
    padding:0;
  }
  .transformation__item-text {
    margin:0;
    padding:0;
    max-width:250px;
    margin-top:20px;
    margin-right:20px;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:20px;
    font-weight:500;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  @media screen and (max-width:650px) {
    .transformation__item-text {
    margin-bottom:28px;
    margin-top:0;
    font-size:18px;
    max-width:100%;
  }
  }.transformation__item-text-last {
    max-width:446px;
    margin-bottom:20px;
  }
  .transformation__image-mobile {
    display:none;
  }
  @media screen and (max-width:650px) {
    .transformation__image-mobile {
    display:block;
    width:84.53%;
    object-fit:cover;
    object-position:center;
    transform:rotate(-8.73deg);
    margin-bottom:-30px;
    margin-left:-10px;
    z-index:2;
  }
  }.transformation__image {
    margin:0;
    padding:0;
    object-fit:contain;
    object-position:center;
    margin-left:-20px;
    margin-top:-140px;
    margin-right:-50px;
    max-width:374.8px;
    transform:rotate(-15.31deg);
  }
  .transformation__button-conteiner {
    display:none;
  }
  @media screen and (max-width:650px) {
    .transformation__button-conteiner {
    display:flex;
    margin:0;
    padding:0;
    margin-bottom:120px;
    width:178px;
    height:36px;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  }.transformation__button {
    margin:0;
    padding:0;
    background:none;
    border:none;
    width:36px;
    height:36px;
    background-image:url(../images/buttonRight.svg);
    background-position:center;
    background-size:contain;
  }
  .transformation__button_type_left {
    margin-right:14px;
    background-image:url(../images/buttonRight.svg);
    transform:rotate(180deg);
  }
  .transformation__button_type_left:hover {
    cursor:pointer;
    background-image:url(../images/buttonRightEllow.svg);
  }
  .transformation__button_type_right {
    cursor:pointer;
    margin-left:14px;
    background-image:url(../images/buttonRight.svg);
  }
  .transformation__button_type_right:hover {
    background-image:url(../images/buttonRightEllow.svg);
  }
  .transformation__button_type_disabled {
    background-image:url(../images/buttonRightDis.svg);
  }
  .transformation__mark-conteiner {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:6px;
  }
  .transformation__mark {
    width:10px;
    height:10px;
    border-radius:50%;
    background:rgb(217,217,217);
  }
  .transformation__mark-active {
    background:rgb(49,49,49);
  }
  .players {
    margin:0;
    padding:0;
    margin-left:72px;
    margin-right:72px;
    max-width:100%;
  }
  @media screen and (max-width:650px) {
    .players {
    margin-left:20px;
    margin-right:20px;
  }
  }.players__title-conteiner {
    margin:0;
    padding:0;
    margin-bottom:60px;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  .players__title {
    margin:0;
    padding:0;
    max-width:806px;
    color:rgb(49,49,49);
    font-family:Merriweather;
    font-size:54px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
    text-transform:uppercase;
  }
  @media screen and (max-width:650px) {
    .players__title {
    font-size:36px;
    max-width:95.4%;
    line-height:110%;
  }
  }.players__button-conteiner {
    margin:0;
    padding:0;
    max-width:151px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
  }
  @media screen and (max-width:650px) {
    .players__button-conteiner {
    max-width:129px;
  }
  }@media screen and (max-width:650px) {
    .players__button-conteiner_type_desktop {
    display:none;
  }
  }.players__button-conteiner_type_mobile {
    display:none;
  }
  @media screen and (max-width:650px) {
    .players__button-conteiner_type_mobile {
    display:flex;
    margin-bottom:100px;
  }
  }.players__button {
    margin:0;
    padding:0;
    background:none;
    border:none;
    width:44px;
    height:44px;
    background-image:url(../images/buttonRight.svg);
  }
  @media screen and (max-width:650px) {
    .players__button {
    width:36px;
    height:36px;
    background-position:center;
    background-size:contain;
  }
  }.players__button_type_left {
    margin-right:14px;
    background-image:url(../images/buttonRight.svg);
    transform:rotate(180deg);
  }
  .players__button_type_left:hover {
    cursor:pointer;
    background-image:url(../images/buttonRightEllow.svg);
  }
  .players__button_type_right {
    cursor:pointer;
    margin-left:14px;
    background-image:url(../images/buttonRight.svg);
  }
  .players__button_type_right:hover {
    background-image:url(../images/buttonRightEllow.svg);
  }
  .players__button_type_disabled {
    background-image:url(../images/buttonRightDis.svg);
  }
  .players__counter {
    margin:0;
    padding:0;
    opacity:0.6;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:16px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  .players__counter_type_active {
    opacity:1;
  }
  .players__list-wrapper {
    margin:0;
    padding:0;
    max-width:100%;
    overflow:hidden;
    position:relative;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  .players__list {
    margin:0;
    padding:0;
    max-width:100%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    transition:transform 0.5s ease-in-out;
  }
  .players__item {
    margin:0;
    padding:0;
    list-style-type:none;
    margin-bottom:140px;
    width:394px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
  }
  @media screen and (max-width:650px) {
    .players__item {
    width:95.4%;
    margin-bottom:40px;
  }
  }.players__image {
    margin:0;
    padding:0;
    margin-left:37px;
    margin-right:37px;
    margin-bottom:28px;
    width:320px;
    height:320px;
    object-fit:cover;
    object-position:center;
  }
  @media screen and (max-width:650px) {
    .players__image {
    width:225px;
    height:225px;
    margin-left:50px;
    margin-right:50px;
  }
  }.players__name {
    margin:0;
    padding:0;
    margin-bottom:6px;
    max-width:320px;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:24px;
    font-weight:600;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  .players__titul {
    margin:0;
    padding:0;
    margin-bottom:20px;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:20px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  .players__button-info {
    margin:0;
    padding:0;
    width:113px;
    height:35px;
    border:none;
    box-sizing:border-box;
    border:1px solid rgb(48,87,162);
    border-radius:62px;
    color:rgb(48,87,162);
    font-family:Golos Text;
    font-size:16px;
    font-weight:500;
    line-height:120%;
    letter-spacing:0px;
    text-align:center;
    transition:background 0.5s ease;
  }
  .players__button-info:hover {
    cursor:pointer;
    background:rgb(48,87,162);
    color:rgb(255,255,255);
  }
  .footer {
    margin:0;
    padding:0;
    width:100%;
    background:rgb(233,222,212);
    display:flex;
    flex-direction:row;
    align-items:center;
  }
  .footer__text {
    margin:0;
    padding:0;
    max-width:1222px;
    margin:40px 72px 72px 72px;
    color:rgb(49,49,49);
    font-family:Golos Text;
    font-size:16px;
    font-weight:400;
    line-height:120%;
    letter-spacing:0px;
    text-align:left;
  }
  @media screen and (max-width:650px) {
    .footer__text {
    margin:30px 20px 60px 20px;
    max-width:94.5%;
    opacity:0.6;
  }
  }