.body {
    margin: 0 auto;
    padding: 0;
    max-width: 1366px;
}
.header__logo {
    margin: 0;
    padding: 0;
    margin: 26px 0 62px 0;
    width: 245px;
    height: 36px;
    z-index: 2;
}

.header {
    margin: 0;
    padding: 0;
    padding-left: 62px;
    max-width: 100%;
    background-image: url(../images/background.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header__title {
    margin: 0;
    padding: 0;
    margin-bottom: 24px;
    max-width: 542px;
    color: rgb(49, 49, 49);
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.header__title_type_center {
    text-align: center;
    max-width: 542px;
}

.header__subtitle {
    margin: 0;
    padding: 0;
    max-width: 542px;
    margin-bottom: 40px;
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
}
.header__button-conteiner {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.header__button {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 130px;
    width: 263px;
    height: 72px;
    padding: 20px;
    border-radius: 66px;
    border: 2px solid rgb(31, 31, 31);
    background-color: none;
}

.header__button_type_confirmation {
background: rgb(31, 31, 31);
color: rgb(255, 255, 255);
transition: background 0.5s ease;
}

.header__button_type_confirmation:hover {
    cursor: pointer;
    background: rgb(251, 206, 81);
    color: rgb(31, 31, 31);
}

.header__button_type_detail {
border: 2px solid rgb(31, 31, 31);
border-radius: 66px;
background: none;
transition: background 0.5s ease;
}

.header__button_type_detail:hover {
    cursor: pointer;
    background: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}
.content {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1366px;

}
.promo-conteiner {
    display: flex;
    overflow: hidden;
}

.promo {
    margin: 0;
    padding: 0;
    width: 2335px;
    list-style-type: none;
    display: flex;
    padding: 18px 12px;
    background: rgb(245, 73, 50);
    animation: animate 30s linear infinite;
}

#carousel2 {
    animation-delay: 30s;
}

.promo__item {
    margin-left: 12px;
    margin-right: 9px;
    white-space: nowrap;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 22px;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: right;
    text-transform: uppercase;
}

.promo__item::marker {
    content: "\2022"; 
    color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    padding-right: 9px;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.lecture {
    margin: 80px 72px 44px 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.lecture-text-conteiner {
    margin: 0;
    padding: 0;
    margin-right: 72px;
    max-width: 764px;
}

.lecture__title {
    margin: 0;
    padding: 0;
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    color: rgb(49, 49, 49);
}

.lecture__title-name {
    color: rgb(245, 73, 50);
}

.lecture__image {
    max-width: 807px;
}

.playing {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: top;
    gap:17px;
}
.playing__image {
    margin-left: 45px;
    max-width: 609px;
    object-fit: cover;
    object-position: center;
}
.playing__information {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    max-width: 704px;
}

.playing__title {
    margin: 0;
    padding: 0;
    font-family: Merriweather;
font-size: 36px;
font-weight: 400;
line-height: 135%;
letter-spacing: 0px;
text-align: left;
text-transform: uppercase;
color: rgb(49, 49, 49);
}

.playing__title_type_important {
  color: rgb(245, 73, 50);
}

.playing__table {
    margin: 0;
    padding: 0;
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;
   
}

.playing__row {
    border-bottom: 2px solid rgb(208, 208, 208);
    width: 100%;
}

.playing__row:last-child {
    border-bottom: 0; 
    margin: 0;
    padding: 0;
}

.playing__cell {
    margin: 0;
    padding: 0;
    border-right: 2px solid rgb(208, 208, 208);
    padding-right: 16px; 
    padding-bottom: 16px;
    padding-top: 16px;
    width: 43.46%;
    color: rgb(49, 49, 49);
font-family: Golos Text;
font-size: 20px;
font-weight: 400;
line-height: 120%;
letter-spacing: 0px;
text-align: left;
}

.playing__cell:last-child {
    border-right: 0; 
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    width: 56.53%;
    color: rgb(49, 49, 49);
    font-family: Golos Text;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0px;
    text-align: left;
}

.playing__cell_type_promo {
    text-decoration: line-through solid 2px rgb(245, 73, 50);

}